<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <% @events.each do |event| %>
          <div class="event-card">
            <img src="<%= event.photo  %>"/>
            <div class="event-texts">
              <div class="event-title-date">
                <h2><%= event.title %></h2>
                <h5><%= event.date %></h5>
              </div>
              <div class="event-description">
                <h4> <%= event.description %> </h4>
              </div>
              <%= link_to "show memory", event_path(event) %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
</div>
</div>
