<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="event-container">
  <div class="event-row">
    <div class="col-xs-12">

        <%= @latest_events.first.title %>
        <%= @latest_events.second.title %>
        <%= @latest_events.third.title %>
        <%= @latest_events.fourth.title %>
        <%= @latest_events.fifth.title %>

    </div>
  </div>
</div>

<!-- delete if statement as soon as user has the option to add kids -->
<% if false %>
<%= link_to "+ add kid", new_kid_path %>
<% end %>
