<div class="event-wrapper">
  <div class="event-container">
    <div class="event-row">
      <div class="col-12">
        <div class="first-event">
          <div class="first-event-left">
            <h4><%= @latest_events.first.date %></h4>
          </div>
          <div class="first-event-right">
            <h1><%= @latest_events.first.title %> </h1>
          </div>
          <img src="<%= @latest_events.first.photo %>">
        </div>
      </div>
    </div>
  </div>

<div class="event-second-container">
  <div class="event-second-row">
    <div class="col-5">
      <div class="second-event">
        <div class="second-event-center">
          <h1><%= @latest_events.second.kid.name %></h1>
        </div>
        <div  class="ratio img-circle" style="background-image: url(<%= @latest_events.second.photo %>);">
        </div>
      <div class="second-event-date">
        <h4><%= @latest_events.first.date %></h4>
      </div>
        <span class="triangle up border"></span>
      </div>
    </div>
  </div>
</div>

<div class="event-third-container">
  <div class="event-third-row">
    <div class="col-6">
      <div class="third-event">

      </div>
    </div>
  </div>
</div>


<!--
<div class="event-container">
  <div class="event-row">
    <div class="col-xs-12">

        <%= @latest_events.second.title %>

    </div>
  </div>
</div>

<div class="event-container">
  <div class="event-row">
    <div class="col-xs-12">

        <%= @latest_events.third.title %>

    </div>
  </div>
</div>

<div class="event-container">
  <div class="event-row">
    <div class="col-xs-12">

        <%= @latest_events.fourth.title %>

    </div>
  </div>
</div>

<div class="event-container">
  <div class="event-row">
    <div class="col-xs-12">

        <%= @latest_events.fifth.title %>

    </div>
  </div>
</div> -->
<!-- delete if statement as soon as user has the option to add kids -->
<% if false %>
<%= link_to "+ add kid", new_kid_path %>
<% end %>
