<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="event-container">
  <div class="event-row">
    <div class="col-xs-12">

    <% @events.each do |event| %>
      <div class="event-card">
        <h5><%= event.date %></h5>
        <img src="<%= event.photo  %>"/>
        <h3><%= event.title %></h3>
        <%= link_to "show memory", event_path(event) %>
      </div>
        <% end %>

    </div>
  </div>
</div>

<!-- delete if statement as soon as user has the option to add kids -->
<% if false %>
<%= link_to "+ add kid", new_kid_path %>
<% end %>
